<footer class="py-5 bg-dark">
   <div class="container">
     <div class="row">
       <div class="col-md-6">
          <nav class="nav">
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </nav>
       </div>
       <div class="col-md-6">
          <app-social-media></app-social-media>
        </div>
      </div>
      <p class="m-0 text-center text-white">Copyright &copy; arEco.com, 2018</p>
    </div>
</footer>