<header class="header container-fluid about">
        <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <h2>About Us</h2>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                         <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                         </nav>
                </div>
            </div>
        </div>
</header> 
  
<section class="container">
  <section class="row">
    <div class="col-md-12">
      <p>Content goes here.</p>
    </div>
    
  </section>
</section>