<header class="header container-fluid contact">
  <div class="container">
      <div class="row">
              <div class="col-md-12">
                  <h2>Contact Us</h2>
              </div>
      </div>
      <div class="row">
          <div class="col-md-12">
                   <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                          </ol>
                   </nav>
          </div>
      </div>
  </div>
</header> 

<div class="container contactSection">
    <section class="row">
      <div class="col-md-12">
        <p>Santhosh Kumar B R <br />
          #206, Near Swarna Silcon Minos <br />
          Whitefield, Hoodi <br />
          Bangalore 560048 <br />
          Phone :- 9538509090, 7975448378
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.765575502555!2d77.71587941418696!3d12.986840190845895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae119247ef4eb3%3A0xf5e7993873635a48!2sSwarna+Silicon+Castle+-+Minos!5e0!3m2!1sen!2sin!4v1541573859392" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </section>
  </div>
  