.login {
    .form-control, .btn{
        border-radius: 0;
    }
    .errors{
        position: absolute;
        bottom:-28px;
        left:5px;
        color: red;
        display: none;
    }
}
.is-invalid {
    border-left:5px solid red;
    // border-right:0;
    // border-top:0;
    // border-bottom:0;
}