.addproduct{
    padding-top:100px;
}
.form-control{
    margin: 10px 0;
}
table{
    tr{
        td{
            img{
                width:200px;
                height: 200px;
            }
        }
    }
}