.social-media{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    li{
        a{
            font: 400 1.6rem Arial, Verdana;
            padding: 0.4rem 1rem;
            border: 1px solid #fff;
            margin-right: 20px;
            color: #fff;
            text-decoration: none;
            &:hover{
                border-color: #5ec420;
                color: #5ec420;
            }
        }
    }
}