<div class="container-fluid home">
<app-banner [imageSize]="imgSize"></app-banner>
<!-- <app-cta></app-cta> -->
<!-- <app-cards [posts]=posts></app-cards> -->
 </div>
 <div class="container educateSection">
        <div class="row">
                <div class="col-md-6 col-xs-12">
                    <app-about-areca></app-about-areca>
                </div>
                <div class="col-md-6 col-xs-12">
                    <app-current-plastic></app-current-plastic>
                </div>
            </div>
 </div>